/*==================================================================*/
/* 좌측 */

.leftbg {
    background-color: #FAFBFB;
    background-image: url("images/content_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

/*==================================================================*/
/* 좌측상단 Project, 작품 리스트 컨테이터 */

.title {
    position: relative;
    width: auto;
    height: auto;
    margin-top: 56.0px;
    text-align: left;
    white-space: nowrap;
}

.title h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    white-space: nowrap;
}

.title h1 {
    font-size: 6rem;
    font-weight: 600;
    white-space: nowrap;
}


/*==================================================================*/
/* 우측하단 동아리 리스트 */

.clublist {
    width: auto;
    /* min-width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 32.0px;
    margin: 0 auto;
}


/* 동아리 1개 컨테이너 */
.club {
    display: flex;
    align-items: center;
    width: 550.0px;
    height: 10%;
    margin-bottom: 31.0px;
    gap: 12.0px;
    position: relative;
}


.subtitle-arrow-container {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subtitle-arrow-container a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*====================================*/
/* 좌측 라인 */
.club .line {
    width: 10.0px;
    height: 90%;
    margin: auto 0;
    border-left: 2.5px solid #00AECC;
}

/*====================================*/
/* 동아리 정보 */

.club-info {
    position: relative;
    width: 55%;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* 좌측 비율 조정 */
}

/*====================================*/
/* 소주제 정보 */

.subtitle-info {
    width: 100%;
    height: auto;
    display: flex;
}

/* 각 덩어리 내부에서 flex 관리 */
.club .club-info,
.club .subtitle-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 25.0px;
}

/* 동아리 분류, Title 텍스트 스타일 */
.club-category,
.subtitle-category {
    width: auto;
    height: auto;
    display: flex;
    position: absolute;
    top: 0;
    font-size: 1.4rem;
    color: #A9A9A9;
}

/* 로고 크기 */
.club .logoImage {
    position: absolute;
    height: 3.0vh;
    padding-top: 5.0px;
    left: 0;
}

@media all and (max-width:1400.0px) {

    .left {
        flex-direction: column;
        gap: 30px;
    }

    .club-info {
        width: 50%;
    }

    .club .logoImage {
        height: 35.0px;
    }

    .club .subtitle {
        font-size: 3rem;
        margin-bottom: 15.0px;
    }

    .club .club-info,
    .club .subtitle-info {
        padding-top: 30.0px;
    }


}

/* @media all and (max-width:900.0px) {
    .left {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .left::-webkit-scrollbar {
        width: 0.0px;
        background: transparent;
    }


    .clublist {
        justify-content: center;
        align-items: flex-end;
        gap: 6.0px;
    }

    .club {
        width: 100%;
        max-height: 20%;
        margin-bottom: 31.0px;
    }

    .club .line {
        width: 5.0px;
        height: 90%;
        margin: auto 0;
        border-left: 2.0px solid #00AECC;
    }
} */

/* 소주제 제목 텍스트 스타일 */
.club .subtitle {
    font-size: 2rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 15.0px;
    transition: all 0.2s ease-in-out;
}

.subtitle-arrow-container:hover .subtitle {
    color: #00AECC;
    transform: scale(1.02);
}

.subtitle-arrow-container a,
.subtitle-arrow-container a:visited,
.subtitle-arrow-container a:active {
    color: var(--dark-gray, #131313) !important;
    font-style: normal;
    text-decoration: none;
}

/*====================================*/
/* 우측 화살표 컨테이너 */

.arrow-container {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.arrow svg {
    width: 100%;
    height: 40.0px;
    padding: 7.5px 7.5px;
    position: absolute;
    top: 1.5rem;
    left: 0;
    transition: all 0.2s ease-in-out;
}

.subtitle-arrow-container:hover svg {
    transform: translateX(0.3rem);
    cursor: pointer;
}

.arrow svg path {
    transition: stroke 0.2s ease-in-out;
}

.subtitle-arrow-container:hover svg path {
    stroke: #00AECC;
}

/*==================================================================*/
/* 우측(빈공간) */

.right {
    width: 100%;
    height: 100%;
}


/*==================================================================*/
/*==================================================================*/
/* 미디어쿼리 */


/*==================================================================*/
/* 테블릿 가로, 테블릿 세로 (해상도 384.0px ~ 511.5px)*/
@media all and (max-width:1023px) {

    /* ======================== */
    /* 좌측 */

    .clublist {
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        gap: 6.0px;
    }

    .club {
        width: 100%;
        max-height: 20%;
        margin-bottom: 31.0px;
    }

    .club .line {
        width: 5.0px;
        height: 90%;
        margin: auto 0;
        border-left: 2.0px solid #00AECC;
    }

    .club-info {
        width: 40%;
    }

    .club-category,
    .subtitle-category {
        font-size: 1.5rem;
    }

    .club .logoImage {
        height: 25.0px;
    }

    .club .subtitle {
        font-size: 2rem;
        margin-bottom: 15.0px;
    }

    .arrow svg {
        top: 1.5rem;
    }

    .title {
        margin-top: 40.0px;
    }

    .title h1 {
        font-size: 3rem;
    }

    .title h3 {
        font-size: 1.7rem;
    }

    /* ======================== */
    /* 우측 */

}

/*==================================================================*/
/* 모바일 가로, 모바일 세로 (해상도 240.0px ~ 383.5px)*/
@media all and (max-width:767px) {

    /* ======================== */
    /* 좌측 */



    .title {
        margin-top: 40.0px;
    }

    .title h1 {
        font-size: 3rem;
    }

    .title h3 {
        font-size: 1.7rem;
    }


    .clublist {
        align-items: flex-end;
        gap: 6.0px;
    }

    .club .line {
        width: 1.5px;
        height: 90%;
        margin: auto 0;
        border-left: 1.0px solid #00AECC;
    }

    .club {
        width: 100%;
        max-height: 20%;
        /* margin-bottom: 31.0px; */
    }


    .category {
        font-size: 1rem;
    }

    .club-info {
        width: 40%;
    }

    .club .logoImage {
        height: 17.5px;
    }

    .club .subtitle {
        word-break: keep-all;
        width: 6ch;
        font-size: 1.5rem;
        margin-bottom: auto;
    }


    .arrow-container {
        width: 30.0px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .arrow svg {
        top: 1rem;
    }



    /* ======================== */
    /* 우측 */





    /* .main-container {
        padding: 5.0px 2.5px;
    }


    .left {
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }

    .title {
        margin-top: 20.0px;
    }

    .title h1 {
        font-size: 3rem;
    }

    .title h3 {
        font-size: 1.7rem;
    }


    .clublist {
        gap: 6.0px;
    }

    .club {
        width: 30.0vw;
        height: 5.0vh;
        margin-bottom: 18.0px;
    }


    .club .line {
        width: 1.5px;
        height: 90%;
        margin: auto 0;
        border-left: 1.0px solid #00AECC;
    }

    .category {
        font-size: 1rem;
    }

    .club-info {
        width: 40%;
    }

    .club .logoImage {
        height: 17.5px;
    }

    .club .subtitle {
        word-break: keep-all;
        width: 6ch;
        font-size: 1.5rem;
        margin-bottom: auto;
    }


    .arrow-container {
        width: 30.0px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }


    .arrow svg {
        top: 0rem;
    } */

    /* ======================== */
    /* 우측 */


}

@media all and (max-width:480px) {


    /* ======================== */
    /* 좌측 */



    .left::-webkit-scrollbar {
        width: 0.0px;
        background: transparent;
    }

    .title {
        margin-top: 40.0px;
    }

    .title h1 {
        font-size: 6rem;
    }

    .title h3 {
        font-size: 3rem;
    }

    .clublist {
        width: 100%;
        height: 70%;
        justify-content: center;
        align-items: flex-end;
        gap: 6.0px;
    }

    .club .line {
        width: 1.5px;
        height: 90%;
        margin: auto 0;
        border-left: 1.0px solid #00AECC;
    }

    .club {
        width: 100%;
        height: 60px;
        margin-bottom: 16.0px;
    }

    .club .club-info,
    .club .subtitle-info {
        padding-top: 20.0px;
    }


    .category {
        font-size: 1.2rem;
    }

    .club-info {
        width: 40%;
    }

    .club .logoImage {
        height: 3.0vh;
        padding-top: 5.0px;
    }

    .club .subtitle {
        word-break: keep-all;
        width: 12ch;
        font-size: 2.5rem;
        margin-bottom: auto;
    }



    .arrow-container {
        width: 28.0px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .arrow svg {
        top: 1rem;
    }

}