* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Pretendard', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* 헤더 */

.header {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: var(--dark-gray, #131313);
    padding: 20px 0;
}

.innerheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 5vw;
}

/*====================================*/
/* 좌측 로고 */

.logo {
    flex-shrink: 0;
    width: 266px;
    height: 100%;
    padding-top: 5px;
    transition: filter 0.2s ease-in-out;
}

.logo img {
    width: 100%;
    height: auto;
}

.logo:hover {
    filter: brightness(70%);
}

/*====================================*/
/* 우측 탭 */

nav {
    width: auto;
    height: auto;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    /* 오른쪽 정렬 */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 0px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 20px;
}

nav ul li {
    width: 150px;
    height: auto;
    text-align: center;
    align-items: center;
    padding: 7px 7px;
    position: relative;
    transition: color 0.2s ease-in-out;
}

nav ul a:nth-child(2),
nav ul a:nth-child(3) {
    border-left: 1px solid #FAFBFB;
}

nav ul a {
    color: #FAFBFB;
    text-decoration: none;
    display: block;
}

nav ul li:hover,
nav ul .active {
    color: #00AECC;
}


/*==================================================================*/
/*==================================================================*/
/* 미디어쿼리 */


/*==================================================================*/
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (max-width:1023px) {

    html,
    body {
        font-size: 10px;
    }

    /* ======================== */
    /* 헤더 */

    .header {
        padding: 10px 0px;
    }

    .innerheader {
        padding: 10px 15px;
    }

    .logo {
        width: 200px;
        height: auto;
    }

    nav ul li {
        width: 150px;
    }

    /* ======================== */
    /* 좌측 배경 */


    .left {
        overflow-y: auto;
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .leftbg {
        width: 100%;
    }

    .rightbg {
        width: 0;
    }

    /* ======================== */
}

/*==================================================================*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {

    html,
    body {
        font-size: 10px;
    }

    /* 헤더 */

    .header {
        height: 170px;
        padding: 10px 0px;
    }

    .innerheader {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px 5px;
    }

    .logo {
        width: 350px;
        height: auto;
    }

    nav {
        width: 100%;
        justify-content: center;
    }

    nav ul {
        width: 100%;
    }

    nav ul a {
        width: 33%;
    }

    nav ul li {
        width: 100%;
        height: auto;
    }

    /* ======================== */
    /* 좌측 배경 */

    .left {
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 30.0px;
    }


    .leftbg {
        width: 100%;
    }

    .club-leftbg {
        width: 100%;
        height: auto;
    }

    .rightbg {
        width: 0;
    }
}



/*==================================================================*/
/* 소형 모바일*/
@media all and (max-width:480px) {

    html,
    body {
        font-size: 6px;
    }

    /* ======================== */
    /* 헤더 */

    .header {
        height: 150px;
        padding: 0;
        padding-top: 15px;
    }

    nav ul {
        font-size: 1.5rem;
    }

    .innerheader {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px 5px;
    }

    .logo {
        width: 300px;
        margin: 0 auto;
        height: auto;
    }

    nav {
        width: 100%;
        justify-content: center;
    }

    nav ul {
        width: 100%;
    }

    nav ul a {
        width: 33%;
    }

    nav ul li {
        width: 100%;
        height: auto;
    }

    /* ======================== */
    /* 좌측 배경 */


    .left {
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 20.0px;
    }

    .leftbg {
        width: 100%;
    }

    .club-leftbg {
        width: 100%;
        height: auto;
    }

    .rightbg {
        width: 0;
    }
}

/* ------------------------------- */

main {
    width: 100%;
    height: calc(100dvh - 172px);
    object-fit: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blur-bg {
    background-image: url('poster/main-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    width: 100%;
    height: 100%;
    background-color: #ffffff55;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: calc(100dvh - 172px);
    aspect-ratio: 2/1;
    object-fit: contain;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: calc(100dvh - 172px);
    
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.image-cell {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.image-cell.flipped {
    transform: rotateX(360deg);
}

.black-grid {
    display: none;
}

@media (max-width: 1368px) {
    .grid-container {
        width: 100%;
        overflow: visible;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 100%;
        height: 100%;
    }

    .black-grid {
        display: none;
    }
}

@media (max-width: 1024px) {
    .grid-container {
        width: 100%;
        height: max-content;
        max-height: none;
        overflow: visible;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 100%;
        height: 100%;
    }

    .black-grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 100%;
        height: 100%;
    }
}

.image-cell[data-image="white_01"] { background-image: url('main/white_01.png'); }
.image-cell[data-image="white_02"] { background-image: url('main/white_02.png'); }
.image-cell[data-image="white_03"] { background-image: url('main/white_03.png'); }
.image-cell[data-image="white_04"] { background-image: url('main/white_04.png'); }
.image-cell[data-image="white_05"] { background-image: url('main/white_05.png'); }
.image-cell[data-image="white_06"] { background-image: url('main/white_06.png'); }
.image-cell[data-image="white_07"] { background-image: url('main/white_07.png'); }
.image-cell[data-image="white_08"] { background-image: url('main/white_08.png'); }
.image-cell[data-image="white_09"] { background-image: url('main/white_09.png'); }
.image-cell[data-image="white_10"] { background-image: url('main/white_10.png'); }
.image-cell[data-image="white_11"] { background-image: url('main/white_11.png'); }
.image-cell[data-image="white_12"] { background-image: url('main/white_12.png'); }
.image-cell[data-image="white_13"] { background-image: url('main/white_13.png'); }
.image-cell[data-image="white_14"] { background-image: url('main/white_14.png'); }
.image-cell[data-image="white_15"] { background-image: url('main/white_15.png'); }
.image-cell[data-image="white_16"] { background-image: url('main/white_16.png'); }
.image-cell[data-image="white_17"] { background-image: url('main/white_17.png'); }
.image-cell[data-image="white_18"] { background-image: url('main/white_18.png'); }
.image-cell[data-image="white_19"] { background-image: url('main/white_19.png'); }
.image-cell[data-image="white_20"] { background-image: url('main/white_20.png'); }
.image-cell[data-image="white_21"] { background-image: url('main/white_21.png'); }
.image-cell[data-image="white_22"] { background-image: url('main/white_22.png'); }
.image-cell[data-image="white_23"] { background-image: url('main/white_23.png'); }
.image-cell[data-image="white_24"] { background-image: url('main/white_24.png'); }
.image-cell[data-image="white_25"] { background-image: url('main/white_25.png'); }
.image-cell[data-image="white_26"] { background-image: url('main/white_26.png'); }
.image-cell[data-image="white_27"] { background-image: url('main/white_27.png'); }
.image-cell[data-image="white_28"] { background-image: url('main/white_28.png'); }
.image-cell[data-image="white_29"] { background-image: url('main/white_29.png'); }
.image-cell[data-image="white_30"] { background-image: url('main/white_30.png'); }
.image-cell[data-image="white_31"] { background-image: url('main/white_31.png'); }
.image-cell[data-image="white_32"] { background-image: url('main/white_32.png'); }

.black-grid .image-cell[data-image="black_01"] { background-image: url('main/black_01.png'); }
.black-grid .image-cell[data-image="black_02"] { background-image: url('main/black_02.png'); }
.black-grid .image-cell[data-image="black_03"] { background-image: url('main/black_03.png'); }
.black-grid .image-cell[data-image="black_04"] { background-image: url('main/black_04.png'); }
.black-grid .image-cell[data-image="black_05"] { background-image: url('main/black_05.png'); }
.black-grid .image-cell[data-image="black_06"] { background-image: url('main/black_06.png'); }
.black-grid .image-cell[data-image="black_07"] { background-image: url('main/black_07.png'); }
.black-grid .image-cell[data-image="black_08"] { background-image: url('main/black_08.png'); }
.black-grid .image-cell[data-image="black_09"] { background-image: url('main/black_09.png'); }
.black-grid .image-cell[data-image="black_10"] { background-image: url('main/black_10.png'); }
.black-grid .image-cell[data-image="black_11"] { background-image: url('main/black_11.png'); }
.black-grid .image-cell[data-image="black_12"] { background-image: url('main/black_12.png'); }
.black-grid .image-cell[data-image="black_13"] { background-image: url('main/black_13.png'); }
.black-grid .image-cell[data-image="black_14"] { background-image: url('main/black_14.png'); }
.black-grid .image-cell[data-image="black_15"] { background-image: url('main/black_15.png'); }
.black-grid .image-cell[data-image="black_16"] { background-image: url('main/black_16.png'); }
.black-grid .image-cell[data-image="black_17"] { background-image: url('main/black_17.png'); }
.black-grid .image-cell[data-image="black_18"] { background-image: url('main/black_18.png'); }
.black-grid .image-cell[data-image="black_19"] { background-image: url('main/black_19.png'); }
.black-grid .image-cell[data-image="black_20"] { background-image: url('main/black_20.png'); }
.black-grid .image-cell[data-image="black_21"] { background-image: url('main/black_21.png'); }
.black-grid .image-cell[data-image="black_22"] { background-image: url('main/black_22.png'); }
.black-grid .image-cell[data-image="black_23"] { background-image: url('main/black_23.png'); }
.black-grid .image-cell[data-image="black_24"] { background-image: url('main/black_24.png'); }
.black-grid .image-cell[data-image="black_25"] { background-image: url('main/black_25.png'); }
.black-grid .image-cell[data-image="black_26"] { background-image: url('main/black_26.png'); }
.black-grid .image-cell[data-image="black_27"] { background-image: url('main/black_27.png'); }
.black-grid .image-cell[data-image="black_28"] { background-image: url('main/black_28.png'); }
.black-grid .image-cell[data-image="black_29"] { background-image: url('main/black_29.png'); }
.black-grid .image-cell[data-image="black_30"] { background-image: url('main/black_30.png'); }
.black-grid .image-cell[data-image="black_31"] { background-image: url('main/black_31.png'); }
.black-grid .image-cell[data-image="black_32"] { background-image: url('main/black_32.png'); }


.image-cell.clicked[data-image="white_01"] { background-image: url('main/black_01.png'); }
.image-cell.clicked[data-image="white_02"] { background-image: url('main/black_02.png'); }
.image-cell.clicked[data-image="white_03"] { background-image: url('main/black_03.png'); }
.image-cell.clicked[data-image="white_04"] { background-image: url('main/black_04.png'); }
.image-cell.clicked[data-image="white_05"] { background-image: url('main/black_05.png'); }
.image-cell.clicked[data-image="white_06"] { background-image: url('main/black_06.png'); }
.image-cell.clicked[data-image="white_07"] { background-image: url('main/black_07.png'); }
.image-cell.clicked[data-image="white_08"] { background-image: url('main/black_08.png'); }
.image-cell.clicked[data-image="white_09"] { background-image: url('main/black_09.png'); }
.image-cell.clicked[data-image="white_10"] { background-image: url('main/black_10.png'); }
.image-cell.clicked[data-image="white_11"] { background-image: url('main/black_11.png'); }
.image-cell.clicked[data-image="white_12"] { background-image: url('main/black_12.png'); }
.image-cell.clicked[data-image="white_13"] { background-image: url('main/black_13.png'); }
.image-cell.clicked[data-image="white_14"] { background-image: url('main/black_14.png'); }
.image-cell.clicked[data-image="white_15"] { background-image: url('main/black_15.png'); }
.image-cell.clicked[data-image="white_16"] { background-image: url('main/black_16.png'); }
.image-cell.clicked[data-image="white_17"] { background-image: url('main/black_17.png'); }
.image-cell.clicked[data-image="white_18"] { background-image: url('main/black_18.png'); }
.image-cell.clicked[data-image="white_19"] { background-image: url('main/black_19.png'); }
.image-cell.clicked[data-image="white_20"] { background-image: url('main/black_20.png'); }
.image-cell.clicked[data-image="white_21"] { background-image: url('main/black_21.png'); }
.image-cell.clicked[data-image="white_22"] { background-image: url('main/black_22.png'); }
.image-cell.clicked[data-image="white_23"] { background-image: url('main/black_23.png'); }
.image-cell.clicked[data-image="white_24"] { background-image: url('main/black_24.png'); }
.image-cell.clicked[data-image="white_25"] { background-image: url('main/black_25.png'); }
.image-cell.clicked[data-image="white_26"] { background-image: url('main/black_26.png'); }
.image-cell.clicked[data-image="white_27"] { background-image: url('main/black_27.png'); }
.image-cell.clicked[data-image="white_28"] { background-image: url('main/black_28.png'); }
.image-cell.clicked[data-image="white_29"] { background-image: url('main/black_29.png'); }
.image-cell.clicked[data-image="white_30"] { background-image: url('main/black_30.png'); }
.image-cell.clicked[data-image="white_31"] { background-image: url('main/black_31.png'); }
.image-cell.clicked[data-image="white_32"] { background-image: url('main/black_32.png'); }

.black-grid .image-cell.clicked[data-image="black_01"] { background-image: url('main/white_01.png'); }
.black-grid .image-cell.clicked[data-image="black_02"] { background-image: url('main/white_02.png'); }
.black-grid .image-cell.clicked[data-image="black_03"] { background-image: url('main/white_03.png'); }
.black-grid .image-cell.clicked[data-image="black_04"] { background-image: url('main/white_04.png'); }
.black-grid .image-cell.clicked[data-image="black_05"] { background-image: url('main/white_05.png'); }
.black-grid .image-cell.clicked[data-image="black_06"] { background-image: url('main/white_06.png'); }
.black-grid .image-cell.clicked[data-image="black_07"] { background-image: url('main/white_07.png'); }
.black-grid .image-cell.clicked[data-image="black_08"] { background-image: url('main/white_08.png'); }
.black-grid .image-cell.clicked[data-image="black_09"] { background-image: url('main/white_09.png'); }
.black-grid .image-cell.clicked[data-image="black_10"] { background-image: url('main/white_10.png'); }
.black-grid .image-cell.clicked[data-image="black_11"] { background-image: url('main/white_11.png'); }
.black-grid .image-cell.clicked[data-image="black_12"] { background-image: url('main/white_12.png'); }
.black-grid .image-cell.clicked[data-image="black_13"] { background-image: url('main/white_13.png'); }
.black-grid .image-cell.clicked[data-image="black_14"] { background-image: url('main/white_14.png'); }
.black-grid .image-cell.clicked[data-image="black_15"] { background-image: url('main/white_15.png'); }
.black-grid .image-cell.clicked[data-image="black_16"] { background-image: url('main/white_16.png'); }
.black-grid .image-cell.clicked[data-image="black_17"] { background-image: url('main/white_17.png'); }
.black-grid .image-cell.clicked[data-image="black_18"] { background-image: url('main/white_18.png'); }
.black-grid .image-cell.clicked[data-image="black_19"] { background-image: url('main/white_19.png'); }
.black-grid .image-cell.clicked[data-image="black_20"] { background-image: url('main/white_20.png'); }
.black-grid .image-cell.clicked[data-image="black_21"] { background-image: url('main/white_21.png'); }
.black-grid .image-cell.clicked[data-image="black_22"] { background-image: url('main/white_22.png'); }
.black-grid .image-cell.clicked[data-image="black_23"] { background-image: url('main/white_23.png'); }
.black-grid .image-cell.clicked[data-image="black_24"] { background-image: url('main/white_24.png'); }
.black-grid .image-cell.clicked[data-image="black_25"] { background-image: url('main/white_25.png'); }
.black-grid .image-cell.clicked[data-image="black_26"] { background-image: url('main/white_26.png'); }
.black-grid .image-cell.clicked[data-image="black_27"] { background-image: url('main/white_27.png'); }
.black-grid .image-cell.clicked[data-image="black_28"] { background-image: url('main/white_28.png'); }
.black-grid .image-cell.clicked[data-image="black_29"] { background-image: url('main/white_29.png'); }
.black-grid .image-cell.clicked[data-image="black_30"] { background-image: url('main/white_30.png'); }
.black-grid .image-cell.clicked[data-image="black_31"] { background-image: url('main/white_31.png'); }
.black-grid .image-cell.clicked[data-image="black_32"] { background-image: url('main/white_32.png'); }


/* 푸터 */
footer {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding: 18px 60px;
    align-items: center;
    background: #f4f4f4;
    white-space: nowrap;
}

.footer-ex-content {
    display: flex;
    gap: 136px;
}

.footer-ex-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 67px;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.footer-logo img {
    width: auto;
    height: 15px;
}

.footer-text-title, 
.footer-text-content {
    color: #A9A9A9;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}

.footer-text-title {
    font-weight: 700;
}

.footer-text-content {
    font-weight: 400;
}

/* 반응형 - 푸터 */

@media (max-width: 1500px) {
    footer {
        padding: 14px 60px;
        align-items: center;
    }

    .footer-ex-content {
        gap: 40px;
    }
}

@media (max-width: 1280px) {
    footer {
        height: 72px;
        padding: 14px 60px;
        align-items: center;
    }

    .footer-ex-content {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 1024px) {
    main {
        height: auto;
    }

    footer {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 40px;
    }

    .footer-ex-content {
        flex-direction: column;
        gap: 40px;
    }

    .footer-ex-info {
        gap: 30px;
    }

    .footer-logo {
        gap: 40px;
    }

    .footer-logo img {
        height: 14px; 
    }

    .footer-text-title, 
    .footer-text-content {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    body {
        height: 100dvh;
    }

    main {
        height: auto;
    }

    footer {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .footer-ex-content {
        flex-direction: column;
        gap: 40px
    }

    .footer-ex-info {
        flex-direction: column;
        gap: 20px;
    }

    .footer-logo img {
        height: 12px;
    }

    .footer-text-title,
    .footer-text-content {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    footer {
        height: 100%;
    }

    .footer-text-title,
    .footer-text-content {
        font-size: 12px;
    }

    .footer-logo img {
        height: 12px;
    }
}

@media (max-width: 400px) {
    footer {
        height: 100%;
    }

    .footer-logo {
        gap: 20px;
    }

    .footer-text-title,
    .footer-text-content {
        font-size: 12px;
    }

    .footer-logo img {
        height: 12px;
    }
}